.warenkorb-main {
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .warenkorb-titel {
    color: #0077aa;
    margin-bottom: 1.5rem;
  }
  
  .warenkorb-leer {
    color: gray;
    font-style: italic;
  }
  
  .warenkorb-liste {
    list-style: none;
  }
  
  .warenkorb-item {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  
  .warenkorb-leeren-button {
    background-color: #e90901;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .warenkorb-leeren-button:hover {
    background-color: #cc0000;
  }

  .bezahlen-container {
    display: flex;
    justify-content: flex-end;
  }

  .bezahlen-button {
    background-color: #0400d4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .bezahlen-button:hover {
    background-color: #0077aa;
  }
  

  .entfernen-button {
    background-color: #e90901;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .entfernen-button:hover {
    background-color: #cc0000;
  }
  