.footer {
    background-color: rgba(0, 0, 0, 0.781);
    color: var(--footer);
    text-align: center;
    padding: 3vh;
    width: 100%;
    box-sizing: border-box;
    display: flex; /*flexible Ausrichtung*/
    justify-content: center;
    flex-direction: column; /*vertikale Ausrichtung*/
    margin-top: 1em;
}


.gridcontainer {
    display:grid; /*aktiviert das grid*/
    grid-template-columns: repeat(3, 1fr); /* Drei gleich breite Spalten */
    justify-content: center;
    margin: 0;
}

.ersteSpalte {
    grid-column: 1; /*Spalten werden zugeteilt*/
    
}
.zweiteSpalte {
    grid-column: 2;
    justify-self: center;

}
.dritteSpalte {
    grid-column: 3;
    text-align: center;
    text-decoration: none; /*Links haben keine Unterstrichung*/

}

.icon-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 1.5em;
}

/* Bild-Größe und Abstand */
.icon-image {
    width: 5%;  /* Größe des Instagram-Icons */
  
}

/* Optional: Stil für den Instagram-Link */
.icon-link {
    color: var(--footer);
    text-decoration: none;  /* Entfernt die Unterstreichung */
}


.footer a:hover,
.footer a:active {
    color: var(--footer);  /* Beibehaltung der weißen Farbe im Hover- und Aktiv-Zustand */
    text-decoration: none;
}

.footer a:visited {
    color: var(--footer);  /* Stellt sicher, dass besuchte Links auch weiß bleiben */
    text-decoration: none;  /* Entfernt die Unterstreichung von besuchten Links */
}

.footer a{
    color:var(--footer);
    
}



/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
    .gridcontainer {
        grid-template-rows: 1fr; /* 1 anstatt 3 Spalten für kleine Bildschirme */
        grid-template-columns: 1fr; /*1 Zeile mit voller Breite */
        gap: 2em; /* Kleineren Abstand zwischen den Elementen */
    }

    .ersteSpalte, .zweiteSpalte, .dritteSpalte {
        grid-column: 1; /*Alle "Spalten werden in eine Spalte zusammen geführt"*/
        width: 100%; /* Spalten füllen die volle Breite */
    }

    /* Um die Reihenfolge zu ändern, benutze 'order' */
    .ersteSpalte {
        grid-row: 1; /*Zeile 1*/
        order: 1; /* Erste Spalte kommt nach oben */
    }
    .zweiteSpalte {
        grid-row: 2; /*Zeile 2*/
        order: 2; /* Zweite Spalte kommt in die Mitte */
    }
    .dritteSpalte {
        grid-row: 3;
        order: 3; /* Dritte Spalte kommt nach unten */
    }
}