.Angebote {
    display: flex; /* Flexibles Layout für horizontale oder vertikale Anordnung */
    margin-top: 10%; /* Abstand nach oben */
    margin-left: 10%; /* Abstand von links */
    color: black; /* Textfarbe Schwarz */
}

.Angebote-Allgemeines {
    margin-top: 5%; /* Abstand nach oben */
    margin-left: 10%; /* Abstand von links */
    margin-right: 10%; /* Abstand von rechts */
    color:var(--Textfarbe);  /* Textfarbe Marineblau */
    text-align: left; /* Text linksbündig */
    display: flex; /* Flexibles Layout */
    flex-direction: column; /* boxen vertikal anordnen */
}


.Anfangsbild { 
    width: 100%; /* Bild nimmt gesamte Breite ein */
    height: auto; /* Höhe passt sich an */
    display: block; /* Block-Layout */
}

.Anfangscontainer {
    position: relative; /* Relativ positioniert für innenliegende absolute Positionen */
    overflow: hidden; /* Überschüssigen Inhalt verstecken */
}

.Anfangstext { 
   position: absolute; /* Position absolut im Container und relativ zu Anfangscontainer1 */
   top: 50%; /* Zentriert vertikal */
   left: 50%; /* Zentriert horizontal */
   transform: translate(-50%, -50%); /* Perfekte Zentrierung */
   background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter schwarzer Hintergrund */
   color: var(--SeitenÜberschrift); /* Weiße Schriftfarbe */
   padding: 20px 40px; /* Innenabstand */
   border-radius: 8px; /* Runde Ecken */
   text-align: center; /* Zentrierter Text */
   font-size: 1.5rem; /* Schriftgröße */
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); /* Schlagschatten */
}

.Tauch-Angebote {
    margin-top: 5%; /* Abstand nach oben */
    text-align: center; /* Text zentrieren */
}

.Angebote-main {
    margin-top: 5%; 
    display: flex; /* Flexbox wird aktiviert */
    justify-content: center; /* Inhalte zentrieren */
    flex-wrap: wrap; /* Angebotsboxen brechen bei kleineren Bildschirmen um und erscheinen unterienade */
    width: 100%; 
}


@media screen and (max-width: 768px) {
    .Angebote-main{
        gap: 3vh;
    }


    .Anfangsbild {
        width: 100%; /* Bild passt sich der Breite an */
        height: auto; /* Höhe bleibt proportional */
    }

    .Anfangstext {
        font-size: 1rem; /* Kleinere Schriftgröße */
        padding: 10px 20px; /* Weniger Innenabstand */
        transform: translate(-50%, -50%); /* Beibehaltung der Zentrierung */
    }

    .Anfangstext h2 {
        font-size: 1.2rem; /* Überschrift kleiner */
    }

    .Anfangstext p {
        font-size: 0.9rem; /* Standardtext kleiner */
        margin: 0; /* Kein zusätzlicher Abstand */
    }

    .Angebote-Boxen{
        width: 250px;
    }

    .box{
        font-size: 1rem;
    }
}
