.buchung_main {
    line-height: 1.6;
    color: var(--Textfarbe);
}

.kurs-container {
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 3%;
    background: var(--SeitenÜberschrift);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 5%;
    margin-left: 5%;
    
}

.kurs-bild {
    width: 25%;
    border-radius: 8px;
    
}

.kurs-info {
    margin-left: 5vw;
}


.kurs-preis {
    font-size: 125%;
    font-weight: bold;
}

.Buchungs-Formular h2 {
    text-align: center;
    margin-top: 10%;
}

.Formular {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 2%;
    
}

.Buchungs-Formular label
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}


.Formular input[type="text"],
.Formular input[type="email"],
.Formular input[type="number"],
.Formular input[type="date"],
.Formular select,
.Formular textarea {
    width: 60vw; 
    padding: 8px;
    border-radius: 5px;
    border: 2px solid var(--Textfarbe);
    background-color: var(--Hintergrundfarbe);
    font-family: Arial, sans-serif;
    height: auto;
}
/* Styling für Platzhalter-Text */
.Formular input::placeholder,
.Formular textarea::placeholder {
    color: var(--Platzhalter); /* Farbe für den Platzhaltertext */
}


.Formular button {
    width: 20%; 
    height: 50px; 
    border: 2px solid var(--Textfarbe); 
    border-radius: 5px; 
    background-color: var(--Hintergrundfarbe);
    color: var(--Textfarbe);
    cursor: pointer; /*Form des Mauszeigers wird dadurch verändert*/
}

.Formular button:hover { /*wird verwendet wenn der Mauszeiger über dem Button schwebt*/
    background-color: var(--Textfarbe);
    color: var(--Hintergrundfarbe);
}

@media (max-width: 768px) {
    .kurs-container{
        flex-wrap: wrap;
        font-size: 1rem;
    }
    .kurs-bild{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .kurs-container{
        margin-top: 10%;
    }
    .Buchungs-Formular label{
        font-size: 1rem;
    }
    .Formular input[type="text"],
    .Formular input[type="email"],
    .Formular input[type="number"],
    .Formular input[type="date"],
    .Formular select,
    .Formular textarea {
        width:90%
    }
    .Formular button{
        width: 50%;
    }
}