.header_Datenschutz {
    text-align: center; 
    font-weight: bold; 
    color: var(--Unterüberschriften);  
}

.main_Datenschutz{
    margin-left: 50px;
    margin-right: 50px; 
    margin-bottom: 30px;
}

.liste{
    margin:10px 0px; 
    padding:15px;
}