.Kontakt_header {
    text-align: center; 
    margin-top: 13vh;
}

.Kontakt {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.Kontakt h2 {
    text-align: center;
    color: var(--Textfarbe);
    margin-bottom: 1em;
}

